# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
#编码格式，通常都是选 utf-8
charset = utf-8
#缩进风格，可选配置有 tab 和 space
indent_style = space
#缩进大小，可设定为 1-8 的数字
indent_size = 2
#换行符，可选配置有 lf ，cr ，crlf
end_of_line = lf
#去除多余的空格
trim_trailing_whitespace = false
#在尾部插入一行
insert_final_newline = false