@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700&family=Noto+Sans+SC:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap");
:root {
  --monospace: "JetBrains Mono", "Roboto Mono", "Noto Sans SC", "Fira Code",
    "Ubuntu Mono";
  --vp-font-family-base: var(--monospace); /* normal text font */
  --vp-font-family-mono: var(--monospace); /* code font */
}
